Flask==2.2.2
Werkzeug==2.2.2

# yt-dlp==2024.12.13  # The latest version at the time of writing
# ffmpeg-python==0.2.0  # You can check for the latest stable version

youtube-transcript-api==0.6.3
requests==2.32.3
sumy==0.11.0
nltk==3.9.1
transformers==4.48.2
#tensorflow==2.18.0
tf-keras==2.18.0
Flask-Cors==5.0.0
ollama==0.4.7
torch==2.6.0
deepseek-ai==0.0.1


openai-whisper==20240930
yt-dlp==2025.1.26
ffprobe==0.5
ffmpeg==1.4
whisper==1.1.10